* {
   box-sizing: border-box;
}
body{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
p{
   width: 40vw;
}
p a{
   text-decoration: inherit;
   color: rgb(210, 167, 74);
}
.tooltip{
    position: relative;
}
.tooltip:hover::after{
      content: attr(data);
      background-color: black;
      color: white;
      width: max-content;
      height: max-content;
      border-radius: 3px;
      position: absolute;
      padding: 0.3em;
      z-index: 1;
      font-size: small;
      font-family: Arial, Helvetica, sans-serif;
      top: -1.5em;
      left: -1.1em;
}
