*{
   box-sizing: border-box;
}

/* Structure */
.body{
   background: #9FC0D2; 
   height: 150vh;
   width: 10vw;
   margin: 0 auto;
}
.card{
   width: 270px;
   height: 400px;
   margin: 0 auto;
   background: #05080A;
   border: 5px solid #05080A;
   border-radius: 30px;
   box-shadow: 10px -10px 0px #FF4742;
   font-family: sans-serif;
   text-align: center;
   position: relative;
}

/* Card-shared */
.card-header h1{
   color: #ffffff;
   font-size: x-large;
   text-transform: capitalize;
   text-align: left;
   margin-left: 35px;
   margin-top: 30px;
}
.card-header h2{
   color: #E5F7F7;
   font-weight: lighter;
   font-size: medium;
   position: relative;
   top: 10px;
}
.card-header h5{
   color: #E5F7F7;
   font-weight: lighter;
   font-size: 11px;
   margin: 0 30px;
   text-transform: capitalize;
   position: relative;
   bottom: 20px;
}

/* Card-one */
.one{
   position: relative;
   right: 200px;
   top: 100px;
}
.card-header img{
   position: relative;
   top: 20px;
   border-radius: 30%;
}
.card-text{
   color: #E5F7F7;
   font-size: small;
   text-align: left;
   margin: 0 40px;
   line-height: 1.2;
   text-align: justify;
}
.card-icon a{
position: relative;
top: 20px;
margin: 0 10px 0 10px;
}


/* Card-two */
.two{
   position: relative;
   top: 60px;
   z-index: 1;
}
.card-button {
   position: relative;
   top: 10px;
   cursor:pointer;
   border-radius: 5px;
   background: transparent;
   color: #E5F7F7;
   padding: 10px 30px;
   border: solid 1px;
   margin: 30px auto;
   box-shadow: 5px 5px #E5F7F7;
   font-family: Arial, Helvetica, sans-serif;
}
.card-button:hover{
   font-size: 0;
   background: #ffffff;
   color: black;
   box-shadow: 5px 5px #FF4742;
}
.card-button:hover:after{

   content: "Click Here";
   font-size: 14px;
   padding: 0 10px 0 10px;
}
